.header{   
    border-bottom: 2px solid rgba($gray, .3);
    background-color: $white;

    &__container{
        display: flex;
        align-items: center;
        justify-content: space-between; 
        height: 60px;
        
        &__logo {
            img{
                height: 29px;
            }
        }

        &__nav{
            display: flex;
            align-items: center;
            gap: 20px;
            
            a{
                color: $black;
            }

            .profile__btn{
                background-color: transparent;
                padding: 0;
                
                img{
                    width: 27px;
                    height: 27px;
                    border-radius: 50%;
                    border: 0;
                }
                .border{
                    border: 1px solid $black;
                    padding: 2px;
                }
            }
        }
    }
}