.header{   
    border-bottom: 2px solid rgba($gray, .3);
    background-color: $white;

    &__container{
        display: flex;
        align-items: center;
        justify-content: space-between; 
        height: 60px;
        
        &__logo {
            img{
                height: 29px;
            }
        }
    }
}