*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  list-style: none;
  outline: none;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body{
  height: 100vh;
  background-color: $bodyColor;
}

.App{
  height: 100vh;
}

a{
  color: $gray;
}

span{
  font-size: 14px;
}

h6{
  font-size: $fontM;
  font-weight: 400;
  text-align: center;
}

.container{
  max-width: 935px;
  margin: 0 auto;
}