//COLOR
$bodyColor: #FAFAFA;
$black: #000;
$gray: rgb(142,142,142);
$lightGray: rgb(250,250,250);
$blue: #0095fb;
$white: #fff;
$facebook: #385185;
$darkWhite: #ddd;

//PADDING
$PS: 5px;
$PM: 10px;
$PL: 15px;
$PXL: 20px;
$PXXL: 36PX;
$PXXXL: 50px;
$P25: 25px;

//MARGIN
$MS: 8px;
$MM: 10px;
$ML: 15px;
$MXL: 20px;
$MXXL: 36PX;

//FONTSIZE
$fontS: 8px;
$fontM: 12px;
$fontMm: 14px;
$fontL: 24px;
$fontXl: 36px;
